<div class="modal fade align-middle" id="eventInfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <header class="modal-header">
        <h2 class="modal-title fs-5 fw-bold"><i class="bi bi-calendar-check"></i> <span class="eventDate"></span></h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </header>
      <div class="modal-body">
        <p><span class="eventTitle fw-bold"></span> <span class="eventWithUser">a confirmé sa présence à cette date.</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
        <check if="{{ @user.is_admin }}">
          <a href="/{{ @user.login }}/delete-booking/_id_" class="btn btn-danger" id="bookingDeleteAction">Annuler la réservation</a>
        </check>
      </div>
    </div>
  </div>
</div>
