<div class="modal fade align-middle" id="dateConfirm" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="/{{ @user.login }}/calendar-booking" method="post" id="bookingForm">
        <header class="modal-header">
          <h2 class="modal-title fs-5 fw-bold"><i class="bi bi-calendar-check"></i> Confirmation de présence</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </header>
        <div class="modal-body text-center">
          <input type="hidden" name="bookingDate" />
          <p>Je confirme ma présence à la date du</p>
          <h3 class="eventDate fw-bold"></h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
          <input type="submit" class="btn btn-success" value="Je confirme" name="bookingConfirm" />
        </div>
      </form>
    </div>
  </div>
</div>
