<form action="/admin/user/upload" method="post" enctype="multipart/form-data">

  <div class="row w-50 mx-auto">

    <h2 class="fw-bold mb-5">Importer depuis un fichier CSV</h2>

    <p>Sélectionner votre fichier CSV pour importer les utilisateurs décris dedans.<br /><strong>Le séparateur de champs à l'utiliser est la virgule `,`</strong></p>

    <p>
      <i class="bi bi-exclamation-triangle"></i> Format de fichier attendu :
      <ul class="mx-5">
        <li><strong>login</strong> <small>Précisez la valeur pour modifier l'utilisateur ou laissez le champs vide pour créer l'utilisateur</small></li>
        <li><strong>categorie</strong> <small>Valeur obligatoire</small></li>
        <li><strong>prénom</strong></li>
        <li><strong>nom</strong></li>
        <li><strong>adresse email</strong> <small>Valeur obligatoire</small></li>
      </ul>
    <p>

    <div class="col-12 mb-4">
      <input type="file" id="csvFile" class="form-control" name="file" accept=".csv" required />
    </div>

    <div class="col-6">
      <a href="/admin/users" class="btn btn-light"><i class="bi bi-chevron-left"></i> Retour</a>
    </div>

    <div class="col-6 text-end">
      <button class="btn btn-success" type="submit">Importer</button>
    </div>

  </div>

</form>
