Cher(e) {{ @user.firstname }} {{ @user.lastname }},

Nous sollicitons votre participation pour compléter le calendrier de la semaine à venir.

En effet, il reste encore des créneaux disponibles où nous aurions besoin de volontaires pour assurer les tâches manquantes. Les jours critiques sont les suivants :

<repeat group="{{ @creneaux }}" value="{{ @creneau }}">
  {{ @creneau }}
</repeat>

Pour s'inscrire, rendez-vous sur notre plateforme en utilisant le lien suivant : {{ @website_url }}/{{ @user.login }}

Si vous avez des difficultés techniques ou des questions, n'hésitez pas à contacter la personne en charge de l'application.

Nous vous remercions par avance pour votre collaboration précieuse.

Cordialement,
L'équipe des Lucioles
