Cher(e) {{ @user.firstname }} {{ @user.lastname }},

En tant que parent engagé dans notre programme de contribution, nous vous rappelons l'importance d'indiquer vos jours de disponibilité pour réaliser certaines tâches.

Votre participation est nécessaire afin d'assurer la bonne organisation des roulements entre les parents, ainsi vous contribuerez à créer un planning équilibré qui répond aux besoins de tous les parents impliqués.

Pour rappel, vous devez effectuer 4 gardes périscolaire par parent et 1 lavage de torchon par famille au cours de l'année scolaire.

Voici comment vous pouvez procéder :

    Rendez-vous sur notre plateforme en utilisant le lien suivant (/!\ url personnelle, ne la communiquez pas /!\) : {{ @website_url }}/{{ @user.login }}
    En cliquant sur les cases du calendrier, sélectionnez les jours auxquels vous êtes disponible pour assurer une tâche.

Si vous avez des difficultés techniques ou des questions, n'hésitez pas à contacter la personne en charge de l'application.

Nous vous remercions par avance pour votre collaboration précieuse.

Cordialement,
L'équipe des Lucioles
