Cher(e) {{ @user.firstname }} {{ @user.lastname }},

En tant que parent engagé dans notre programme de gardes périscolaires, nous vous rappelons l'importance d'indiquer vos jours de disponibilité pour lesquelles vous vous engagez à assurer la garde périscolaire.

Votre participation est nécessaire afin d'assurer la bonne organisation des gardes périscolaires, ainsi vous contribuerez à créer un planning équilibré qui répond aux besoins de tous les parents impliqués.

Pour rappel, vous devez effectuer 1 garde par période (temps d'école entre les vacances), par conséquent Vous devez réaliser 5 gardes au cours de l'année scolaire.

Voici comment vous pouvez procéder :

    Rendez-vous sur notre plateforme en utilisant le lien suivant : <a href="{{ @website_url }}/{{ @user.login }}">{{ @website_url }}/{{ @user.login }}</a>
    En cliquant sur les cases du calendrier, sélectionnez les jours auxquels vous êtes disponible pour assurer les gardes périscolaires.

Si vous avez des difficultés techniques ou des questions, n'hésitez pas à contacter la personne en charge du périscolaire.

Nous vous remercions par avance pour votre collaboration précieuse.

Cordialement,
L'équipe des Lucioles
