[globals]
home_title="Booking Calendar"
home_counter="<strong>Vous devez réaliser 5 Event 1 et 1 Event 2 au cours de l'année</strong>%SUMMARY%"
day_reminder_email_delay=2
debug_level=3
website_url="https://votresiteweb.com"

[events.event1]
id="event1"
title="Event 1"
color="primary"
max_booking_per_date.monday=2
max_booking_per_date.tuesday=1
max_booking_per_date.wednesday=0
max_booking_per_date.thursday=2
max_booking_per_date.friday=1
max_booking_per_date.saturday=0
max_booking_per_date.sunday=0

[events.event2]
id="event2"
title="Event 2"
color="warning"
max_booking_per_date.monday=0
max_booking_per_date.tuesday=0
max_booking_per_date.wednesday=0
max_booking_per_date.thursday=0
max_booking_per_date.friday=1
max_booking_per_date.saturday=0
max_booking_per_date.sunday=0


[colors.secondary]
bgcolor="#e2e3e5"
bdcolor="#d2d4d7"
txtcolor="#2b2f32"

[colors.success]
bgcolor="#d1e7dd"
bdcolor="#a7d1be"
txtcolor="#0a3622"

[colors.danger]
bgcolor="#f8d7da"
bdcolor="#f2b8be"
txtcolor="#58151c"

[colors.warning]
bgcolor="#fff3cd"
bdcolor="#ffe7a2"
txtcolor="#664d03"

[colors.dark]
bgcolor="#ced4da"
bdcolor="#afb6be"
txtcolor="#495057"

[email]
from="noreply@votresiteweb.com"
to="admin@votresiteweb.com"
subject_invitation="Booking Calendar App"
subject_reminder="Rappel de votre réservation"
subject_hebdo="Créneaux disponibles"
subject_confirmation="Confirmation de votre réservation"
subject_annulation="Annulation d'une réservation"
